@import '../../../../public/scss/_variables';
.header {
  margin-top: 0;
  height: 70px;
  position: fixed;
  top: 0;
  left: 1%;
  width: 99%;
  z-index: 13;
  &.homepage {
    position: relative;
  }
  .navbar {
    height: 100%;
    padding: 0 20px;
    color: $white;
    display: flex;
    flex-direction: row;
    font-family: $heading-font-stack;
    justify-content: space-between;
    align-content: center;
    .menu-control,
    .page-title,
    .navlinks {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .menu-control {
      margin-right: 20px;
      img {
        width: 40px;
        height: 20px;
      }
    }
    .page-title {
      flex-grow: 2;
      a {
        font-family: $heading-font-stack;
        color: $white;
        display: block;
        font-size: 1.2em;
        margin: 1em 0;
        font-weight: bold;
      }
    }
    .navlinks {
      height: 100%;
      flex-grow: 1;
      justify-content: space-around;
      .link {
        color: $white;
      }
      img {
        width: 25px;
        height: 25px;
      }
    }
    &.white-navbar {
      background-color: white;
      .navlinks .user-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .dropdown,
        .circle {
          padding-right: 0px;
        }
      }
    }
  }
  .dropdown,
  #dropdown-toggler {
    cursor: pointer;
  }
  &.unauth {
    position: relative;
  }
}

@media (min-width: 992px) {
  .header .navbar {
    padding: 0 40px;
  }
}

@media (min-width: 992px) {
  .header .navbar .menu-control {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .header {
    left: 0;
    width: 100%;
    .navbar .page-title a {
      font-size: 1em;
    }
  }
}

@media (max-width: 767.98px) {
  .header .navbar .navlinks img {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 992px) {
  .header .navbar.white-navbar .navlinks .user-info {
    >a {
      margin: 10px;
    }
    .dropdown,
    .circle {
      padding-right: 10px;
    }
  }
}

@media (max-width: 767.98px) {
  .header {
    z-index: 10;
    >p {
      display: none;
    }
    .circle {
      padding-right: 0px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .header .navbar .page-title {
    flex-grow: 3;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .header .navbar .page-title {
    flex-grow: 5;
  }
}

@media (min-width: 992px) {
  .header .navbar .page-title {
    flex-grow: 11;
  }
}