{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }, "react"]
  ],
  "plugins": ["transform-object-rest-spread", "react-hot-loader/patch",  "add-module-exports"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}