# Development
  DB_USERNAME=myusername
  DB_PASSWORD=mypassword
  DB_DATABASE=mydatabase
  DB_DATABASE_TEST=mydatabase_test
  DB_HOST=localhost
  SECRET=mysecret
  OPENING_HOUR=12
  OPENING_MINUTE=30
  CLOSING_HOUR=17
  CLOSING_MINUTE=00
  EXPIRY=800000
  EMAIL=me@test.com
  EMAIL_PASSWORD=metest
  BASE_URL=url.com
  REACT_APP_FIREBASE_API_KEY=rsetdyfugihoj4567890
  REACT_APP_FIREBASE_AUTH_DOMAIN=firebasedomain
  REACT_APP_FIREBASE_DB_URL=firebasedurl
  REACT_APP_FIREBASE_STORAGE_BUCKET=wertyuilo5467890