.DS_Store
.vscode
node_modules
.gitattributes
packages/server/dist
packages/client/dist
.nyc_output
coverage
.env
packages/client/bin/.selenium
packages/server/coverage
packages/client/coverage
.vs
.DS_Store
packages/client/reports

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
chromdriver.log*
