$primary-color: #4CAF50;
$dark-green: #1b5e20;
$secondary-color: #E32429;
$danger: #d50000;
$success: $primary-color;
$warning: #ffa100;
$light: #F8F9FA;
$white: #FFFFFF;
$darkgrey: #343A40;
$grey: #989ea2;
$lightgrey: #F1F2F2;
$dark: #333;
$input: rgb(169, 169, 169);
$transparent: rgba(255, 255, 255, 0);
$transparent-light: rgba(255, 255, 255, 0.5);
$transparent-dark: rgba(0, 0, 0, 0.5);
$transparent-middle: rgba(0, 0, 0, 0.3);
$background-gradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
$card-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.05);
$navbar-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
$sidenav-shadow: 3px 0 10px 1px rgba(0, 0, 0, 0.05);
$heading-font-stack: "Nunito",
sans-serif;
$font-stack: Roboto,
"Helvetica Neue",
Arial,
sans-serif;
$card-border-radius: 5px;
$body-font-size: 16px;
$line-color: #ddd;
$modal-header-title-margin-before: 0.7em;
$modal-header-title-margin-after: 0.7em;