@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,600i");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import './_variables.scss';
@import './modules/buttons.scss';
@import './modules/cards.scss';
@import './modules/modals.scss';
@import './modules/dropdowns.scss';
@import './modules/sidenav.scss';
@import './modules/form_elements.scss';
@import './modules/username_circle.scss';
@import './modules/header.scss';
@import './modules/dashboard.scss';
@import './modules/tables.scss';
@import './modules/meals.scss';
@import './modules/order-history-pills.scss';
html {
    margin: 0;
    height: 100%;
    font-weight: 400;
    font-family: $font-stack;
    font-size: 16px;
}

body,
#app {
    margin: 0;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    color: $dark;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/chicken-fajitas.jpg") no-repeat center center;
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    justify-content: space-between;
}

#app {
    min-height: 100vh;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.text-small {
    font-size: 0.83em;
}

.d-flex {
    display: flex;
}

@media (min-width: 768px) {
    .d-md {
        display: block;
    }
}

@media (max-width: 767.98px) {
    .d-flex-md {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .d-flex-md {
        display: flex;
    }
}

@media (min-width: 992px) {
    .d-lg {
        display: block;
    }
}

@media (min-width: 992px) {
    .d-flex-lg {
        display: flex;
    }
}

@media (min-width: 768px) {
    .d-none-md {
        display: none;
    }
}

@media (min-width: 992px) {
    .d-none-lg {
        display: none;
    }
}

.text-right {
    text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-stack;
}

.page-heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 40px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 10px;
    }
    hr {
        color: #a1a1a1;
        width: 55%;
    }
}

.danger,
.is-invalid,
.invalid-feedback {
    color: $danger;
}

.warning {
    color: #ffa100;
}

.success {
    color: $primary-color;
}

.text-center {
    text-align: center;
}

a,
.link-btn {
    color: $dark;
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:focus,
    &.active {
        transition: color 0.5s;
        color: $primary-color;
    }
}

.link-btn {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
    font-size: inherit;
    &:hover,
    &:focus,
    &.active {
        outline: none;
    }
}

hr {
    color: #ddd;
    box-sizing: content-box;
    height: 0;
    width: 99.9%;
    overflow: hidden;
    border-style: solid;
    border-width: 0.5px;
}

.w-90 {
    width: 90%;
}

.footer {
    display: flex;
    height: 70px;
    color: $white;
    background-color: transparent;
    padding: 0 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    p {
        font-size: 12px;
    }
}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    flex-grow: 10;
}

.auth,
.order-confirmation {
    border-radius: 0px;
    padding: 10px 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.auth hr,
.order-confirmation hr {
    color: darkgray;
}

.auth .title,
.order-confirmation .title {
    text-align: center;
}

@media (min-width: 451px) {
    .auth,
    .order-confirmation {
        border-radius: 5px;
    }
}

.admin {
    display: block;
    background: none;
    background-color: #EBEFF2 !important;
    color: $dark;
    margin-left: 0;
    .header {
        position: relative;
        background-color: white;
    }
    .navbar {
        color: $dark;
        background-color: inherit;
        /* box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1); */
        .admin-nav {
            flex-grow: 0;
            .dropdown.notification .dropdown-content {
                margin-right: 0;
            }
        }
    }
    .header .navbar .page-title a,
    .navlinks,
    .header .navbar .navlinks .link,
    .footer p {
        color: $dark;
    }
    &.no-date .content {
        margin-top: 0px;
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    .main-wrapper {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: 0;
    }
    .navbar .date {
        margin: 0;
    }
    .date {
        justify-content: space-between;
        align-items: center;
        margin: 0 40px;
    }
    .page-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 40px;
    }
    .date hr,
    .page-heading hr {
        color: #a1a1a1;
        width: 55%;
    }
    .date {
        flex-direction: row;
        h2 {
            font-size: 20px;
        }
    }
    .header-date {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 767.98px) {
    .admin {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-left: 250px;
        .header {
            background-color: #EBEFF2;
        }
        &.user {
            margin-left: 0;
        }
        .content {
            flex-grow: 10;
            display: flex;
            flex-direction: row;
            min-height: 100%;
            margin-top: 0px;
            .content-wrapper {
                flex-grow: 1;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .admin .date {
        text-align: center;
        flex-direction: column;
    }
}

/* .card,
.auth,
.order-confirmation {
    min-width: 200px;
    min-height: 200px;
    box-sizing: border-box;
    color: $dark;
    background-color: $white;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
} */

.card-group {
    .card {
        margin-bottom: 20px;
    }
    .auth,
    .order-confirmation {
        font-family: $heading-font-stack;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
}

@media (min-width: 576px) {
    .card-group {
        .card,
        .auth,
        .order-confirmation {
            font-family: $heading-font-stack;
            width: 300px !important;
            display: flex;
            justify-content: center !important;
            align-items: center !important;
        }
    }
}

.datepicker-div {
    position: relative;
    .btn-sec {
        border: 0;
        font-size: 20px;
        color: $dark;
    }
    #datepicker {
        position: absolute;
        width: 99%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        &::-webkit-calendar-picker-indicator {
            position: absolute;
            width: auto;
            height: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            color: transparent;
            background: transparent;
            opacity: 1;
            cursor: pointer;
        }
    }
}

.user {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/chicken-fajitas.jpg") no-repeat center center;
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    .header {
        left: 0%;
        width: 100%;
        position: fixed;
    }
    .content-wrapper {
        margin-top: 70px;
    }
    .navbar {
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
    }
    .header .navbar .page-title a,
    .navlinks,
    .header .navbar .navlinks .link,
    .footer p {
        color: $dark;
    }
}

.order-confirmation {
    /* border-radius: 5px; */
    margin-top: 50px;
    padding-bottom: 40px !important;
    background-color: rgba(255, 255, 255, 0.8);
    h2 {
        text-align: center;
    }
    .order-summary,
    .order-amount:not(.admin-order-total),
    .customer-details,
    .order-misc {
        border-bottom: 1px solid #ddd;
    }
    .order-summary>div {
        display: flex;
        p {
            &:nth-child(1),
            &:nth-child(3) {
                flex-grow: 1;
            }
        }
        select {
            flex-grow: 2;
        }
        p:nth-child(3) {
            text-align: right;
        }
    }
    .order-amount>div {
        display: flex;
        justify-content: space-between;
        &:last-child {
            display: flex;
            align-items: center;
            border-top: 1px solid #ddd;
        }
    }
}

.order-history {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
    .pills {
        padding: 20px;
    }
}

.order-details {
    &.order-details-btn:first-child {
        padding: 10px 57px;
    }
    .order-date {
        margin: 0;
    }
}

.home {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: 100%;
    .landing {
        color: $white;
        text-align: center;
        font-family: $heading-font-stack;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        h1 {
            margin: 0 0 10%;
            font-size: 2.0em;
            padding: 0 1em;
            margin-bottom: 8.33333%;
            -webkit-animation: pop-in .6s ease-out;
            animation: pop-in .6s ease-out;
        }
        p {
            font-size: 1.5em;
        }
        button {
            border: 2px solid $dark-green;
            background-color: $dark-green;
            color: $white;
            padding: 12px 50px;
            font-size: 1.3em;
            &:hover,
            &.focus,
            &.active {
                transition: background-color 0.5s, border-color 0.5s;
                background-color: #154a19;
                border-color: #154a19;
                color: $white;
            }
        }
    }
    .meals {
        background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url("../img/chicken-fajitas.jpg") no-repeat center center;
        background-color: white;
        background-size: cover;
        background-attachment: fixed;
    }
}

@-webkit-keyframes pop-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-4rem);
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-4rem);
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.auth-wrapper {
    margin-top: 0;
}

@media (min-width: 451px) and (max-width: 575.98px) {
    .auth,
    .order-confirmation {
        width: 75%;
        padding: 10px 35px;
    }
    .order-history {
        margin: 30px;
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .auth,
    .order-confirmation {
        width: 60%;
        padding: 10px 35px;
    }
    .order-history {
        margin: 40px;
        width: 80%;
    }
    .home .landing h1 {
        font-size: 2.2em;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .auth,
    .order-confirmation {
        width: 60%;
        padding: 20px 50px;
    }
    .order-history {
        margin: 50px;
        width: 60%;
    }
    .home .landing h1 {
        font-size: 2.2em;
    }
}

@media (min-width: 992px) {
    .order-history {
        margin: 50px;
        width: 60%;
    }
    .home .landing h1 {
        font-size: 3em;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .auth,
    .order-confirmation {
        width: 50%;
        padding: 10px 50px;
    }
}

@media (min-width: 1200px) {
    .auth,
    .order-confirmation {
        width: 40%;
    }
}