@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,600i");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import './_variables.scss';
@import './modules/buttons.scss';
@import './modules/cards.scss';
@import './modules/form_elements.scss';
@import './modules/username_circle.scss';

html {
  margin: 0;
  height: 100%;
  font-weight: 400;
  font-family: $font-stack;
  font-size: 16px;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  color: $dark;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/chicken-fajitas.jpg") no-repeat center center;
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  justify-content: space-between;
}

#app {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.text-small {
  font-size: 0.83em;
}

.d-flex {
  display: flex !important;
}

@media (min-width: 768px) {
  .d-md {
    display: block !important;
  }
}

@media (max-width: 767.98px) {
  .d-flex-md {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .d-flex-md {
    display: flex !important;
  }
}

@media (min-width: 992px) {
  .d-lg {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .d-flex-lg {
    display: flex !important;
  }
}

@media (min-width: 1200px) {
  .d-xl {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .d-flex-xl {
    display: flex !important;
  }
}

@media (min-width: 768px) {
  .d-none-md {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .d-none-lg {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .d-none-xl {
    display: none !important;
  }
}

.text-right {
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-stack;
}

.page-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 40px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }
  hr {
    color: #a1a1a1;
    width: 55%;
  }
}

.danger,
.is-invalid,
.invalid-feedback {
  color: $danger;
}

.warning {
  color: $warning;
}

.success {
  color: $primary-color;
}

.text-center {
  text-align: center;
}

a,
.link-btn {
  color: $dark;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus,
  &.active {
    transition: color 0.5s;
    color: $primary-color;
  }
}

.link-btn {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  font-size: inherit;
  &:hover,
  &:focus,
  &.active {
    outline: none;
  }
}

.link-btn.warning {
  color: $warning;
  &:hover,
  &:focus,
  &.active {
    color: darken($warning, 5%);
    transition: color 0.5s;
  }
}

hr {
  color: #ddd;
  box-sizing: content-box;
  height: 0;
  width: 99.9%;
  overflow: hidden;
  border-style: solid;
  border-width: 0.5px;
}

.w-90 {
  width: 90%;
}

.footer {
  display: flex;
  height: 70px;
  color: $white;
  background-color: transparent;
  padding: 0 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  p {
    font-size: 12px;
  }
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  flex-grow: 10;
}

// .delivery-details {
//   padding-top: 30px;
// }
.auth,
.order-confirmation,
.order-confirmation.order-details {
  border-radius: 0px;
  padding: 10px 30px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.order-confirmation.order-details {
  width: initial;
}

.side-cart {
  border-radius: 0px;
}

.user {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../../public/img/chicken-fajitas.jpg") no-repeat center center;
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  .header {
    left: 0%;
    width: 100%;
    position: fixed;
  }
  .content-wrapper {
    margin-top: 70px;
  }
  .navbar {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
  }
  .header .navbar .page-title a,
  .navlinks,
  .header .navbar .navlinks .link,
  .footer p {
    color: $dark;
  }
}

.auth hr,
.side-cart hr,
.order-confirmation hr {
  color: darkgray;
}

.auth .title,
.side-cart .title,
.order-confirmation .title {
  text-align: center;
}

@media (min-width: 451px) {
  .auth,
  .side-cart,
  .order-confirmation {
    border-radius: 5px;
  }
}

.card-group {
  .card {
    margin-bottom: 20px;
  }
  .auth,
  .order-confirmation {
    font-family: $heading-font-stack;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}

@media (min-width: 576px) {
  .card-group {
    .card,
    .auth,
    .order-confirmation {
      font-family: $heading-font-stack;
      width: 300px !important;
      display: flex;
      justify-content: center !important;
      align-items: center !important;
    }
  }
}

.order-confirmation {
  /* border-radius: 5px; */
  margin-top: 50px;
  padding-bottom: 40px !important;
  background-color: rgba(255, 255, 255, 0.8);
  h2 {
    text-align: center;
  }
  hr {
    width: 75%;
  }
  &.order-details {
    hr {
      width: 99.9%;
    }
  }
  .order-summary,
  .order-amount:not(.admin-order-total),
  .customer-details,
  .order-misc {
    border-bottom: 1px solid #ddd;
  }
  .order-summary>div {
    display: flex;
    p {
      &:nth-child(1),
      &:nth-child(3) {
        flex-grow: 1;
      }
    }
    select {
      flex-grow: 2;
    }
    p:nth-child(3) {
      text-align: right;
    }
  }
  .order-amount>div {
    display: flex;
    justify-content: space-between;
    &:last-child {
      display: flex;
      align-items: center;
    }
  }
}

.order-history {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 100%;
  .pills {
    padding: 20px;
  }
}

.order-details {
  &.order-details-btn:first-child {
    padding: 10px 57px;
  }
  .order-date {
    margin: 0;
  }
}

.auth-wrapper {
  margin-top: 0;
}

@media (min-width: 451px) and (max-width: 575.98px) {
  .auth,
  .order-confirmation {
    width: 75%;
    padding: 10px 35px;
  }
  .order-history {
    margin: 30px;
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .auth,
  .order-confirmation {
    width: 60%;
    padding: 10px 35px;
  }
  .order-history {
    margin: 40px;
    width: 80%;
  }
  .home .landing h1 {
    font-size: 2.2em;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .auth,
  .order-confirmation {
    width: 60%;
    padding: 20px 50px;
  }
  .order-history {
    margin: 50px;
    width: 60%;
  }
  .home .landing h1 {
    font-size: 2.2em;
  }
}

@media (min-width: 992px) {
  .order-history {
    margin: 50px;
    width: 60%;
  }
  .home .landing h1 {
    font-size: 3em;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .auth,
  .order-confirmation {
    width: 50%;
    padding: 10px 50px;
  }
}

@media (max-width: 1199.98px) {
  .order-confirmation {
    h2 {
      font-size: 1.2em;
    }
    .order-summary>div {
      display: flex;
      p {
        &:nth-child(1),
        &:nth-child(3) {
          flex: 1;
        }
        &:nth-child(2) {
          font-size: 0.8em;
          flex: 2;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .auth,
  .order-confirmation {
    width: 40%;
  }
}

// toastr
.toastr {
  border-radius: 2px !important;

  &.rrt-success {
    background-color: $primary-color !important;
  }

  .rrt-left-container {
    display: none;
  }

  .rrt-middle-container {
    margin-left: 0px !important;
    height: 70px;
    width: 90% !important;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      font-weight: 400 !important;
    }
  }

  .toastr-icon {
    font-weight: 400;
  }

  .close-toastr {
    color: white;
    opacity: 0.8 !important;
  }

  .rrt-title {
    font-weight: 400;
  }
}