@import '../_variables.scss';

.card {
  min-width: 200px;
  min-height: 200px;
  box-sizing: border-box;
  color: $dark;
  background-color: $white;
  box-shadow: $card-shadow;
  display: flex;
  flex-direction: column;

  // @media (min-width: 576px) {
  //   border-radius: 8px;
  // }
}