@import '../_variables.scss';

.dropdown {
  position: relative;
  display: inline-block;
  

  &>div {
    margin: 7px;
  }

  .dropdown-content {
    &.show {
      display: flex;
    }

    display: none;
    flex-direction: column;
    position: absolute;
    border-radius: 3px;
    min-width: 120px;
    text-align: center;
    border: 1px solid $line-color;
    background-color: white; 
    box-shadow: $card-shadow; 
    z-index: 1;
    right: 0%;

    a {
      color: $dark;
      padding: 10px;
      border-bottom: 1px solid $line-color;

      &:last-child() {
        border-bottom: 0px solid $line-color;
      }

      &:hover,
      &:focus {
        color: $primary-color;
        background-color: $lightgrey;
        transition: color 0.5s, background-color 0.5s;
      }
    }

    &.profile {
      margin: 0px;
    }
  }

  &.notification {
    .dropdown-content {
      width: 250px;
      margin-top: 30px;
      margin-right: -16vw;
      z-index: 25;

      a {
        padding: 20px 15px;

        &.read {
          background-color: $lightgrey;
        }
      }
    }
  }
}