@import '../_variables.scss';

.header {
  margin-top: 0;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 13;
  
  &.homepage {
    position: relative;
  }

  .navbar {
    height: 100%;
    padding: 0 20px;
    color: $white;
    display: flex;
    flex-direction: row;
    font-family: $heading-font-stack;
    justify-content: space-between;
    align-content: center;

    @media (min-width: 992px) {
      padding: 0 40px;
    }

    .menu-control,
    .page-title,
    .navlinks {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .menu-control {
      // flex-grow: 1;
      margin-right: 20px;

      @media (min-width: 992px) {
        margin: 0;
        
      }

      img {
        width: 40px;
        height: 20px;
      }
    }

    .page-title {
      flex-grow: 2;

      a {
        font-family: $heading-font-stack;
        color: $white;
        display: block;
        font-size: 1.2em;
        margin: 1em 0;
        font-weight: bold;

        @media (max-width: 768px) {
          font-size: 1em;
        }
      }
    }
  
    .navlinks {
      height: 100%;
      flex-grow: 1;
      justify-content: space-between;

      .link {
        color: $white;
      }

      img {
        width: 25px;
        height: 25px;
      }

      @media (max-width: 767.98px) {
        img {
          width: 20px;
          height: 20px;
        }
      }
    }

    &.white-navbar {
      background-color: white;

      .navlinks {
        .user-info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .dropdown, .circle {
            padding-right: 0px;
          }

          @media (min-width: 992px) {
            &>a {
              margin: 10px;
            }

            .dropdown, .circle {
              padding-right: 10px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    z-index: 10;

    &>p {
      display: none;
    }
  
    .circle {
      padding-right: 0px;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .navbar {
      .page-title {
        flex-grow: 3;
      }
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .navbar {
      .page-title {
        flex-grow: 5;
      }
    }
  }
  
  @media (min-width: 992px) {
    .navbar {
      .page-title {
        flex-grow: 11;
      }
    }
  }
}