@import '../_variables.scss';

.sidenav {
  box-shadow: $sidenav-shadow;

  @media (max-width: 767.98px) {
    &:before {
      content: ""; 
      display: none;
      background: rgba(0,0,0,.6);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
  
    &:target {
      &:before {
        display: block;
      }  
      .sidenav-content {
        transform: translate(0, 0);
      }
    }

    .sidenav-content {
      z-index: 11;
      position: fixed;
      top: 0;
      left: 0;
      transform: translate(-100%, 0);
      transition: transform 0.5s ease-out;
    }
  }

  &-content {
    height: 100%;
    width: 250px;
    background-color: $white;
    overflow-x: hidden;

    .sidenav-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $darkgrey;
      height: 200px;
      padding-bottom: 20px;

      .sidenav-title {
        color: $white;
        flex-grow: 11;
        font-size: 1.3em;
        font-weight: bold;
        font-family: $heading-font-stack;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          margin: $modal-header-title-margin-before 0;
        }

        span {
          a {
            color: $white;
            font-size: 0.7em;
          }
        }
      }

      .close {
        flex-grow: 1;
        text-align: right;
      
        a {
          font-size: 1.5em;
          font-weight: bold;
          display: block;
          color: $white;
          margin: $modal-header-title-margin-before 0.7em $modal-header-title-margin-after 0;
        }
      }
    }

    .menu-item {
      padding: 15px 15px 15px 32px;
      text-decoration: none;
      font-size: 1.1em;
      display: block;

      &:hover,
      &:focus,
      &.active {
        background-color: $lightgrey;
        transition: background-color 0.5s;
      }
    }
  }
}

@media (max-height: 450px) {
  .sidenav {
    a {
      font-size: 18px;
    }
  }
}

@media (min-width: 768px) {
  .sidenav{
    .menu-item {
      padding: 10px 10px 10px 32px;
      text-decoration: none;
      font-size: 1.1em;
      display: block;
    }

    &-content {
      .sidenav-header {
        padding-bottom: 0;
      }
    }
  }
}
