@import '../_variables.scss';

.username-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: $white;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.5em;
  }
}