@import '../_variables.scss';
@import './_cards.scss';

.order-history-pill {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 50px/1200px * 100%;
  margin-bottom: 40px/1200px * 100%;

  a {
    color: lighten($dark, 20%);
  }

  .order-history-header,
  .order-history-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .order-history-header {
    h3 {
      margin-bottom: 0;
    }
  }

  .order-history-footer {
    h2 {
      color: $primary-color;
    }
  }

  &:hover,
  &:focus {
    @keyframes jump {
       0% { transform: translateY(-0.25em); }
       35% { transform: translateY(-0.5em); }
       60% { transform: translateY(-0.25em); }
       100% {transform: translateY(0);  }
    }

    cursor: pointer;
    animation: 0.3s jump;

    a {
      color: initial;
    }
  }
}