.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown>div {
    margin: 7px;
}

.dropdown .dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    border-radius: 3px;
    min-width: 120px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.05);
    right: 0%;
}

.dropdown .dropdown-content.show {
    display: flex;
}

.dropdown .dropdown-content a {
    color: #333;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.dropdown .dropdown-content a:last-child() {
    border-bottom: 0px solid #ddd;
}

.dropdown .dropdown-content a:hover,
.dropdown .dropdown-content a:focus {
    color: #4CAF50;
    background-color: #F1F2F2;
    transition: color 0.5s, background-color 0.5s;
}

.dropdown .dropdown-content.profile {
    margin: 0;
}

.dropdown.notification .dropdown-content {
    width: 250px;
    margin-top: 30px;
    margin-right: -16vw;
    z-index: 9;
}

.dropdown.notification .dropdown-content a {
    padding: 20px 15px;
}

.dropdown.notification .dropdown-content a.read {
    background-color: #F1F2F2;
}