form {
    padding: 30px 0 10px;
}

form label {
    color: #343a40;
    font-weight: 300;
    font-size: 1.15em;
}

.form-input-checkbox {
    margin-bottom: 30px;
}

.form-input {
    color: darkgray;
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
}

.form-input input:not([type="checkbox"]) {
    border: 0;
    color: #333;
    font-size: 1em;
    border-bottom: 1px solid darkgray;
    background-color: inherit;
    height: 30px;
    outline: none;
}

.form-input input:not([type="checkbox"])[value=""] {
    height: 10px;
    transition: height 0.3s;
}

.form-input input:not([type="checkbox"]):focus,
.form-input input:not([type="checkbox"]):active,
.form-input input:not([type="checkbox"]):not([value=""]) {
    height: 30px;
    outline: none;
    transition: height 0.3s;
}

.form-input input:not([type="checkbox"]).invalid {
    border-color: red;
}

.form-input.form-img-input {
    width: 100%;
    height: 250px;
    cursor: pointer;
    position: relative;
}

.form-input.form-img-input .img-overlay {
    opacity: 0;
    top: -1px;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-input.form-img-input .img-overlay p {
    color: #FFFFFF;
    font-size: 1.5em;
}

.form-input.form-img-input .img-overlay p.danger {
    color: #d50000;
}

.form-input.form-img-input input[type=file] {
    display: none;
    border-bottom: 0px solid darkgray;
}

.form-input.form-img-input img {
    width: 100%;
    height: 250px;
}

.form-input.form-img-input:hover .img-overlay,
.form-input.form-img-input:focus .img-overlay {
    opacity: 1;
    transition: opacity 0.5s;
}

.form-input textarea {
    font-size: 1em;
    border-radius: 3px;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    border: 1px solid darkgray;
    background-color: transparent;
    outline: none;
    margin-top: 12px;
}

.form-input textarea:focus {
    outline: none;
}

.input-info {
    font-size: 0.75em;
    color: #989ea2;
}

.form-extra-info a {
    color: #4CAF50;
}

.form-extra-info a:hover,
.form-extra-info a:focus,
.form-extra-info a:active {
    color: #449d48;
    transition: color 0.5s;
}

select {
    padding: 0.3em;
    outline: none;
    border: 0;
    /* font-size: 0.9em; */
    padding-left: 0em;
    background-color: inherit;
}

select.meal-options {
    overflow-y: auto;
}

option {
    outline: none;
    padding-left: 0em;
}

.order-input {
    width: 25px;
    outline: none;
    border: none;
    background-color: inherit;
}