.header {
    margin-top: 0;
    height: 70px;
    position: fixed;
    top: 0;
    left: 1%;
    width: 99%;
    z-index: 13;
}

.header.homepage {
    position: relative;
}

.header .navbar {
    height: 100%;
    padding: 0 20px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    font-family: "Nunito", sans-serif;
    justify-content: space-between;
    align-content: center;
}

@media (min-width: 992px) {
    .header .navbar {
        padding: 0 40px;
    }
}

.header .navbar .menu-control,
.header .navbar .page-title,
.header .navbar .navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .navbar .menu-control {
    margin-right: 20px;
}

@media (min-width: 992px) {
    .header .navbar .menu-control {
        margin: 0;
    }
}

.header .navbar .menu-control img {
    width: 40px;
    height: 20px;
}

.header .navbar .page-title {
    flex-grow: 2;
}

.header .navbar .page-title a {
    font-family: "Nunito", sans-serif;
    color: #FFFFFF;
    display: block;
    font-size: 1.2em;
    margin: 1em 0;
    font-weight: bold;
}

@media (max-width: 768px) {
    .header {
        left: 0;
        width: 100%;
    }
    .header .navbar .page-title a {
        font-size: 1em;
    }
}

.header .navbar .navlinks {
    height: 100%;
    flex-grow: 1;
    justify-content: space-between;
}

.header .navbar .navlinks .link {
    color: #FFFFFF;
}

.header .navbar .navlinks img {
    width: 25px;
    height: 25px;
}

@media (max-width: 767.98px) {
    .header .navbar .navlinks img {
        width: 20px;
        height: 20px;
    }
}

.header .navbar.white-navbar {
    background-color: white;
}

.header .navbar.white-navbar .navlinks .user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header .navbar.white-navbar .navlinks .user-info .dropdown,
.header .navbar.white-navbar .navlinks .user-info .circle {
    padding-right: 0px;
}

.header .dropdown,
.header #dropdown-toggler {
    cursor: pointer;
}

@media (min-width: 992px) {
    .header .navbar.white-navbar .navlinks .user-info>a {
        margin: 10px;
    }
    .header .navbar.white-navbar .navlinks .user-info .dropdown,
    .header .navbar.white-navbar .navlinks .user-info .circle {
        padding-right: 10px;
    }
}

.header.unauth {
    position: relative;
}

@media (max-width: 767.98px) {
    .header {
        z-index: 10;
    }
    .header>p {
        display: none;
    }
    .header .circle {
        padding-right: 0px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .header .navbar .page-title {
        flex-grow: 3;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .header .navbar .page-title {
        flex-grow: 5;
    }
}

@media (min-width: 992px) {
    .header .navbar .page-title {
        flex-grow: 11;
    }
}