.card,
.meals .meal-card {
    min-width: 200px;
    min-height: 200px;
    box-sizing: border-box;
    color: #333;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.card-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
}

.card-group .card,
.card-group .meals .meal-card,
.meals .card-group .meal-card {
    font-family: "Nunito", sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

@media (min-width: 576px) {
    .card-group {
        flex-direction: row !important;
    }
    .card-group .card,
    .card-group .meals .meal-card,
    .meals .card-group .meal-card {
        font-family: "Nunito", sans-serif;
        width: 300px !important;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }
}

.meals {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.meals .top {
    text-align: center;
    padding: 40px;
}

.meals .top .btn {
    cursor: pointer;
}

.meals .meal-card {
    margin-bottom: 50px !important;
}

.meals .meal-card.no-content .meal-card-header img,
.meals .meal-card.no-content .meal-card-header .menu-card-title {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.meals .meal-card .menu-card-title {
    width: 100%;
    height: 100%;
}

.meals .meal-card .meal-card-header {
    position: relative;
    height: 200px;
}

.meals .meal-card .meal-card-header img {
    width: 100%;
    height: 100%;
}

.meals .meal-card .meal-card-header img,
.meals .meal-card .meal-card-header .menu-card-title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.meals .meal-card .meal-card-header .card-dropdown,
.meals .meal-card .meal-card-header .menu-card-title {
    position: absolute;
    font-family: "Nunito", sans-serif;
    color: #FFFFFF;
    font-size: 1.5em;
    top: 0;
    right: 0;
}

.meals .meal-card .meal-card-header .menu-card-title {
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 8;
}

.meals .meal-card .meal-card-header .menu-card-title p {
    padding: 0 10px;
    text-align: center;
}

.meals .meal-card .meal-card-header .card-dropdown {
    z-index: 9;
    font-size: 1em;
    top: -7%;
    right: 5%;
}

.meals .meal-card .meal-card-header .card-dropdown>a {
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 0;
    font-size: 2em;
}

.meals .meal-card .meal-card-header .card-dropdown>a:active,
.meals .meal-card .meal-card-header .card-dropdown>a:hover,
.meals .meal-card .meal-card-header .card-dropdown>a:focus {
    transition: color 0.5s;
    color: #FFFFFF;
}

.meals .meal-card .meal-card-header .menu-card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meals .meal-card .meal-card-body {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}

.meals .meal-card .meal-card-body h3,
.meals .meal-card .meal-card-body p {
    margin-left: 15px;
}

.meals .meal-card .meal-card-body p {
    margin-top: 0;
}

.meals .meal-card .meal-card-action {
    margin-bottom: 30px;
    text-align: center;
}

.meals .meal-card .meal-card-action .btn {
    padding: 7px 20px;
    border-radius: 2px;
}

.meals .meal-card .action-btns {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 0 20px 20px;
}

.meals .meal-card .action-btns .btn {
    padding: 0;
    border: none;
}

.meals .meal-card .action-btns .btn:hover,
.meals .meal-card .action-btns .btn:focus,
.meals .meal-card .action-btns .btn:active {
    background-color: inherit;
}

.meals .meal-card .action-btns .btn.btn-sec:hover,
.meals .meal-card .action-btns .btn.btn-sec:focus,
.meals .meal-card .action-btns .btn.btn-sec:active {
    color: #419645;
}

.meals .meal-card .action-btns .btn.btn-sec-danger:hover,
.meals .meal-card .action-btns .btn.btn-sec-danger:focus,
.meals .meal-card .action-btns .btn.btn-sec-danger:active {
    color: #b10000;
}