.modal-content {
    min-width: 200px;
    min-height: 200px;
    box-sizing: border-box;
    color: #333;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.card-group .modal-content {
    font-family: "Nunito", sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

@media (min-width: 576px) {
    .card-group .modal-content {
        font-family: "Nunito", sans-serif;
        width: 300px !important;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }
}

.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 14;
}

.modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
}

.modal.show {
    display: block;
}

.modal.show:before {
    display: block;
}

.modal.show .modal-content {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-content {
    z-index: 13;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90vw;
    -webkit-transform: translate(0, -500%);
    transform: translate(0, -500%);
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

@media (min-width: 542.98px) {
    .modal-content {
        top: 10%;
        left: 10%;
        width: 80vw;
    }
}

@media (min-width: 767.98px) {
    .modal-content {
        top: 10%;
        left: 20%;
        width: 60vw;
    }
}

@media (min-width: 991.98px) {
    .modal-content {
        top: 10%;
        left: 25%;
        width: 50vw;
    }
}

@media (min-width: 1199.98px) {
    .modal-content {
        top: 10%;
        left: 30%;
        width: 40vw;
    }
}

.modal-content .modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-content .modal-header .modal-title {
    flex-grow: 11;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.modal-content .modal-header .modal-title p,
.modal-content .modal-header .modal-title h3 {
    margin: 0.5em 0;
    margin-left: 1.5em;
}

.modal-content .modal-header .close {
    flex-grow: 1;
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
    color: #989ea2;
}

.modal-content .modal-header .close a {
    display: block;
    margin: 0.7em 0.7em 0.7em 0;
}

.modal-content .modal-body {
    padding: 20px 30px;
}

.modal-content .modal-body.order-confirmation {
    margin-top: 0;
    width: 100%;
}

.modal-content .modal-body .delete-meal {
    text-align: center;
}

.modal-content .modal-body .delete-meal p {
    margin-top: 0;
    font-size: 1.25em;
}

.modal-content .modal-body .delete-meal .confirm-delete-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal#menu-modal form {
    padding: 0;
}

.modal#menu-modal form .meal-options-list {
    max-height: 60vh;
    overflow-y: auto;
}

.modal#menu-modal form .meal-options-list label {
    font-weight: 500;
}