@import '../_variables.scss';
.card {
  min-width: 200px;
  min-height: 200px;
  box-sizing: border-box;
  color: $dark;
  background-color: $white;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.card-group, .card-group .scroller {
  display: grid;
  padding: 40px 25px;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  &>div:not(.meal-card), .card-group .scroller {
    padding: 0;
  }
  .card {
    font-family: $heading-font-stack;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .card-group .card {
    font-family: $heading-font-stack;
    width: 300px !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
}