.card {
  min-width: 200px;
  min-height: 200px;
  box-sizing: border-box;
  color: #333;
  background-color: #FFFFFF;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.card-group {
  display: grid;
  padding: 40px 25px;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  .card {
    font-family: "Nunito", sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .card-group .card {
    font-family: "Nunito", sans-serif;
    width: 300px !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
}
