@import '../_variables.scss';
.modal-content {
  min-width: 200px;
  min-height: 200px;
  box-sizing: border-box;
  color: $dark;
  background-color: $white;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.card-group .modal-content {
  font-family: $heading-font-stack;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

@media (min-width: 576px) {
  .card-group .modal-content {
    font-family: $heading-font-stack;
    width: 300px !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: auto;
  background: $transparent-dark;
  transition: opacity .15s linear;
  top: 0;
  left: 0;
  z-index: 14; // &:before {
  //     content: "";
  //     display: none;
  //     background: $transparent-dark;
  //     position: fixed;
  //     top: 0;
  //     left: 0;
  //     right: 0;
  //     bottom: 0;
  //     z-index: 11;
  // }
  &.show {
    display: block; // &:before {
    //     display: block;
    // }
    .modal-content {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
}

.modal-content {
  z-index: 13; // position: relative;
  top: 10%;
  left: 5%;
  width: 90vw;
  margin: 4rem auto;
  -webkit-transform: translate(0, -500%);
  transform: translate(0, -500%);
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  .modal-header {
    display: flex;
    justify-content: space-between;
    .modal-title {
      flex-grow: 11;
      font-size: 1.5em;
      font-weight: bold;
      display: flex;
      justify-content: center;
      p,
      h3 {
        margin: 0.5em 0;
        margin-left: 1.5em;
      }
    }
    .close {
      flex-grow: 1;
      font-size: 1.5em;
      font-weight: bold;
      text-align: right;
      color: $grey;
      a,
      .link-btn {
        display: block;
        margin: 0.7em 0.7em 0.7em 0;
      }
    }
  }
  .modal-body {
    padding: 20px 30px;
    &.order-confirmation {
      margin-top: 0;
      width: initial;
    }
    .delete-meal {
      text-align: center;
      p {
        margin-top: 0;
        font-size: 1.25em;
      }
      .confirm-delete-btns {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}

@media (min-width: 542.98px) {
  .modal-content {
    top: 10%;
    left: 10%;
    width: 80vw;
  }
}

@media (min-width: 767.98px) {
  .modal-content {
    top: 10%;
    left: 20%;
    width: 60vw;
  }
}

@media (min-width: 991.98px) {
  .modal-content {
    top: 10%;
    left: 25%;
    width: 50vw;
  }
}

@media (min-width: 1199.98px) {
  .modal-content {
    top: 10%;
    left: 30%;
    width: 40vw;
  }
}

.modal {
  padding: 0;
  .meal-options-list {
    max-height: 60vh;
    overflow-y: auto;
    label {
      font-weight: 500;
    }
  }
}