@import '../../../../public/scss/_variables';
.datepicker-div {
  position: relative;
  .btn-sec {
    border: 0;
    font-size: 20px;
    color: $dark;
  }
  #datepicker {
    position: absolute;
    width: 99%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    &::-webkit-calendar-picker-indicator {
      position: absolute;
      width: auto;
      height: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      color: transparent;
      background: transparent;
      opacity: 1;
      cursor: pointer;
    }
  }
}