@mixin pri-button($color) {
  border: 2px solid $color;
  background-color: $color;
  color: $white;

  &:hover,
  &.focus,
  &.active {
    transition: background-color 0.5s, border-color 0.5s;
    background-color: darken($color, 5%);
    border-color: darken($color, 5%);
    color: $white;
  }
}

@mixin sec-button($color) {
  border: 2px solid $color;
  background-color: $white;
  color: $color;
  border-color: $color;

  &:hover,
  &.focus,
  &.active {
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
    background-color: darken($color, 5%);
    border-color: darken($color, 5%);
    color: white;
  }
}

@mixin center-align($type) {
  display: flex;
  flex-direction: $type;
  justify-content: center;
  align-items: center;
}
