@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,600i");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import './_variables.scss';
@import 'modules/buttons';
@import 'modules/cards';
@import 'modules/modals';
@import 'modules/dropdowns';
@import 'modules/sidenav';
@import 'modules/form_elements';
@import 'modules/username_circle';
@import 'modules/header';
@import 'modules/dashboard';
@import 'modules/tables';
@import 'modules/meals';
@import 'modules/order-history-pills';
@import './_mixins.scss';

html {
	margin: 0;
  height: 100%;
  font-weight: 400;
  font-family: $font-stack;
  font-size: $body-font-size;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
	color: $dark;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/chicken-fajitas.jpg")	white no-repeat fixed;
	background-size: cover;
	// align-items: center;
  justify-content: space-between;
  
  &.overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/chicken-fajitas.jpg")	white no-repeat fixed;
  }
}

// MISC
.hide {
  display: none;
}

.show {
  display: block;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.text-small {
  font-size: 0.83em;
}

.d-flex {
  display: flex;
}

.d-md {
  @media (min-width: 768px) {
    display: block;
  }
}

.d-flex-md {
  @media (min-width: 768px) {
    display: flex;
  }
}

.d-lg {
  @media (min-width: 992px) {
    display: block;
  }
}

.d-flex-lg {
  @media (min-width: 992px) {
    display: flex;
  }
}

.d-none-md {
  @media (min-width: 768px) {
    display: none;
  }
}

.d-none-lg {
  @media (min-width: 992px) {
    display: none;
  }
}

.text-right {
  text-align: right;
}

// HEADINGS
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-stack;
}

.page-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 40px;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
  }

  hr {
    color: #a1a1a1;
    width: 55%;
  }
  
}

// COLORS
.danger {
  color: $danger;
}

.warning {
  color: $warning;
}

.success {
  color: $success;
}

// POSITION
.text-center {
  text-align: center;
}

// LINKS
a {
  color: $dark;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &.active {
    transition: color 0.5s;
    color: $primary-color;
  }
}

hr {
  color: $line-color;
  box-sizing: content-box;
  height: 0;
  width: 99.9%;
  overflow: hidden;
  border-style: solid;
  border-width: 0.5px;
}

// WIDTHS
.w-90 {
  width: 90%;
}

// FOOTER
.footer {
  display: flex;
  height: 70px;
  color: $white;
  padding: 0 10px;
  justify-content: center;
  align-items: center;

  p {
    font-size: 12px;
  }
}

// MAIN WRAPPER
.main-wrapper {
  // height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .landing {
    color: $white;
    text-align: center;
    font-family: $heading-font-stack;
    display: flex;
    flex-direction: column;
    align-content: space-between;

    h1 {
      font-size: 3.0em;
      padding: 0 1em;
      margin-bottom: 100px/1200px * 100%;
    }

    p {
      font-size: 1.5em;
    }

    button {
      @include pri-button($dark-green);
      padding: 12px 50px;
      font-size: 1.3em;
    }
  }
}

// AUTH WRAPPER
.auth {
  @extend .card;

  border-radius: 0px;
  padding: 10px 30px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);

  hr {
    color: $input;
  }

  .title {
    text-align: center;
  }

  @media (min-width: 451px) {
    border-radius: 3px;
  }
}

// ADMIN
.admin {
  display: block;
  background: $lightgrey;
  color: $dark;

  .navbar {
    box-shadow: $navbar-shadow;

    .admin-nav {
      flex-grow: 0;

      .dropdown.notification .dropdown-content {
        margin-right: 0;
      }
    }
  }

  .header .navbar .page-title a, .navlinks, .header .navbar .navlinks .link {
    color: $dark;
  }

  .footer {
    background-color: $white;

    p {
      color: $dark;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-content:  space-around;
  }

  .main-wrapper {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }


  @media (min-width: 767.98px) {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .content {
      flex-grow: 10;
      display: flex;
      flex-direction: row;
      min-height: 100%;

      .content-wrapper {
        flex-grow: 1;
      }
    }
  }

  .date, .page-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 40px;

    hr {
      color: #a1a1a1;
      width: 55%;
    }
    
  }

  .date {
    flex-direction: row;
    justify-content: space-around;

    @media (max-width: 767.98px) {
      flex-direction: column;
    }
  }
}

// DATEPICKER
.datepicker-div {
  position: relative;

  #datepicker {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;

    &::-webkit-calendar-picker-indicator {
      position: absolute;
      width: auto;
      height: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      color: transparent;
      background: transparent;
      opacity: 1;
    }
  }
}

// USER PAGES
.user {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
  url("../img/chicken-fajitas.jpg")	white no-repeat fixed;

  .header .navbar .page-title a, .navlinks, .header .navbar .navlinks .link, .footer p {
    color: $dark;
  }
}

// ORDER CONFIRMATION
.order-confirmation {
  @extend .auth;
  border-radius: 5px;
  margin-top: 50px;
  padding-bottom: 40px !important;
  background-color: rgba(255, 255, 255, 0.8);

  h2 {
    text-align: center;
  }

  .order-summary {
    border-bottom: 1px solid #ddd;
  }

  .order-summary {
    &>div {
      display: flex;
    
      p:nth-child(1), p:nth-child(3)  {
        flex-grow: 1;
      }

      p:nth-child(2) {
        flex-grow: 10;
      }

      p:nth-child(3)  {
        text-align: right
      }
    }
  }

  .order-amount {
    &>div {
      display: flex;
      justify-content: space-between;
    }

    &>div:last-child() {
      display: flex;
      align-items: center;
      border-top: 1px solid #ddd;
    }
  }
}

// ORDER HISTORY
.order-history {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 100%;

  .pills {
    padding: 20px;
  }
}

// ORDER DETAILS
.order-details {
  &.order-details-btn:first-child() {
    padding: 10px 57px;
  }

  .order-date {
    margin: 0;
  }
}

@media (min-width: 451px) and (max-width: 575.98px) {
  .auth {
    width: 75%;
    padding: 10px 35px;
  }

  .order-history {
    margin: 30px;
    width: 100%
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .auth {
    width: 60%;
    padding: 10px 35px;
  }

  .order-history {
    margin: 40px;
    width: 80%
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .auth {
    width: 60%;
    padding: 20px 50px;
  }

  .order-history {
    margin: 50px;
    width: 60%
  }
}

@media (min-width: 992px) {
  .auth {
    width: 40%;
    padding: 10px 50px;
  }

  .order-history {
    margin: 50px;
    width: 60%
  }
}