@import '../../../../public/scss/_variables';
.table-wrapper {
  overflow-x: auto;
}

table {
  display: table;
  border-radius: 3px;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 4.16667%;
  width: 100%;
  tr,
  thead {
    width: 100%;
  }
  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 0.9em;
  }
  tr:last-child {
    border-bottom: 0;
    td {
      border-bottom: 0;
    }
  }
  td:first-child,
  th:first-child {
    border-left: 0;
  }
  td:last-child,
  th:last-child {
    border-right: 0;
  }
  tr:nth-child(odd) {
    background-color: $light;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: $dark;
  }
  thead {
    border-top: 0;
    background-color: $white !important;
    tr {
      border-top: 0;
      background-color: $white !important;
      th {
        border-top: 0;
      }
    }
  }
}