.side-cart h2 {
  text-align: center;
}

.side-cart .order-summary,
.side-cart .order-amount:not(.admin-order-total),
.side-cart .customer-details,
.side-cart .order-misc {
  border-bottom: 1px solid #ddd;
}

.side-cart .order-summary>div {
  display: flex;
}

.side-cart .order-summary>div {
  justify-content: center;
  align-items: center;
}

.side-cart .order-summary>div p:nth-child(1),
.side-cart .order-summary>div p:nth-child(3),
.side-cart .order-summary>div a,
.side-cart .order-summary>div .link-btn {
  flex-grow: 1;
}

.side-cart .order-summary>div p:nth-child(2) {
  font-size: 0.8em;
}

.side-cart .order-summary>div a,
.side-cart .order-summary>div .link-btn,
  {
  padding-left: 5px;
}

.side-cart .order-summary>div select {
  flex-grow: 2;
}

.side-cart .order-summary>div p:nth-child(3),
.side-cart .order-summary>div a,
.side-cart .order-summary>div .link-btn {
  text-align: right;
}

.side-cart .order-amount>div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.side-cart .order-amount>div:last-child {
  display: flex;
  align-items: center;
}